/* Basic site styling
  ================================== */
/* 16px = 1 rem -> b.v. fontsize= 42px -> Calculation 16px/42px = 2.625rem or using auto calculation "calc-rem(px value)"*/
html {
  /*1rem*/
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: futura-pt, lato, sans-serif;
  font-weight: 400;
  letter-spacing: 0.08rem;
  color: #353837;
}